* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
     height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: auto;
    position: relative;
    overflow: hidden;
    background-color: #d6c5c5;  /*background color */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(36, 34, 34, 0.1);
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider div {
    min-width: 100%;
    text-align: center;
}

h1, h2, h3 {
    color: #333;
    font-size: 24px;
    font-weight: 400;
    padding: 20px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}